<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./src/style/normalize.css">
    <link rel="stylesheet" href="./src/style/authoriz_style.css">
    <title>GStore</title>
</head>
<body>
<header class="header">
    <section class="wrapper">
        <div class="header__container">
            <div class="header__logo-name">
                <div class="header__logo">
                    <img class="header__logo_top" src="/src/assets/GSlogo_up.svg" alt="#">
                    <img class="header__logo_down" src="./src/assets/GSlogo_down.svg" alt="#">
                </div>
                <p>GSTORE</p>
            </div>
        </div>
    </section>
</header>
<main class="main">
    <section class="wrapper">
        <form action="#" method="get" enctype="multipart/form-data">
            <h1 class="main__title">Вход в профиль</h1>
             <div class="main__log_pas">
                 <div class="main__login">
                    <h2>Логин</h2>
                    <div class="main__input_login"><input type="text"></div>
                 </div>
                 <div class="main__password">
                    <h2>Пароль</h2>
                    <div class="main__input_password"><input type="password"></div>
                 </div>
             </div>
            <div class="main__registration">
                <a href="#">Регистрация</a>
            </div>
            <div class="button">
                <button type="submit">Войти</button>
            </div>
        </form>
    </section>
</main>
</body>
</html>